:root {
  --blackboard-main: #63856a;
  --blackboard-secondary: #3c5a40;
  --nav-height: 100px;
  font-family: "Work Sans", sans-serif;
  /* --main-color: #b3d07a;
  --second-color: #ffff8c; */
}

body {
  position: relative;
}

.v-center {
  /* background: #cfd; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.footer {
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  /* line-height: 60px; */
  /* background-color: #f5f5f5; */
}

.jumbotron {
  margin-top: 55px;
  background-color: rgb(254, 211, 252);
  min-height: 60vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  margin-bottom: 0;
}

.no-webp .jumbotron {
  background: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(222, 168, 248, 0.71) 0%,
      rgba(168, 222, 248, 0.71) 21.8%,
      rgba(189, 250, 205, 0.71) 35.6%,
      rgba(243, 250, 189, 0.71) 52.9%,
      rgba(250, 227, 189, 0.71) 66.8%,
      rgba(248, 172, 172, 0.71) 90%,
      rgba(254, 211, 252, 0.71) 99.7%
    ),
    url("../images/slide-01.jpg") no-repeat center center;
  background-size: cover;
}

.webp .jumbotron {
  background: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(222, 168, 248, 0.71) 0%,
      rgba(168, 222, 248, 0.71) 21.8%,
      rgba(189, 250, 205, 0.71) 35.6%,
      rgba(243, 250, 189, 0.71) 52.9%,
      rgba(250, 227, 189, 0.71) 66.8%,
      rgba(248, 172, 172, 0.71) 90%,
      rgba(254, 211, 252, 0.71) 99.7%
    ),
    url("../images/build/slide-01.webp") no-repeat center center;
  background-size: cover;
}

.jumbotron-work {
  background-color: rgb(254, 211, 252);
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  margin-bottom: 0;
}

.no-webp .jumbotron-work {
  background: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(222, 168, 248, 0.71) 0%,
      rgba(168, 222, 248, 0.71) 21.8%,
      rgba(189, 250, 205, 0.71) 35.6%,
      rgba(243, 250, 189, 0.71) 52.9%,
      rgba(250, 227, 189, 0.71) 66.8%,
      rgba(248, 172, 172, 0.71) 90%,
      rgba(254, 211, 252, 0.71) 99.7%
    ),
    url("../images/slide-04.jpg") no-repeat center center;
  background-size: cover;
}

.webp .jumbotron-work {
  background: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(222, 168, 248, 0.71) 0%,
      rgba(168, 222, 248, 0.71) 21.8%,
      rgba(189, 250, 205, 0.71) 35.6%,
      rgba(243, 250, 189, 0.71) 52.9%,
      rgba(250, 227, 189, 0.71) 66.8%,
      rgba(248, 172, 172, 0.71) 90%,
      rgba(254, 211, 252, 0.71) 99.7%
    ),
    url("../images/build/slide-04.webp") no-repeat center center;
  background-size: cover;
}

.jumbotron > div,
.jumbotron-work > div {
  background: #ffffff;
  background: #ffffffcc;
  margin: 50px;
  padding: 3em;
}

.jumbotron > div {
  color: #821243da;
  width: 100%;
  outline: none;
  padding: 25px;
  margin: 15px;
  transition: border 0.24s ease-in-out;
  align-items: center;
  border: 3px dashed #821243da;
  border-radius: 15px;
  flex-direction: column;
}

.jumbotron > div .btn {
  border: none;
  padding: 15px;
  /* padding-left: 45px; */
  margin: 15px;
  /* background: linear-gradient(to bottom, #eeaeca 0%, #94bbe9ba 100%); */
}

.list-child {
  display: flex;
  align-items: center;
  min-width: 0;
}

.list-item-title {
  /* flex: 1; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item-price {
  white-space: nowrap;
}

.list-item-price > div {
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  padding-right: 6px;
  align-self: right;
  display: inline-block;
  position: relative;
}

.dots {
  /* width: 15px; */
  height: 1em;
  margin: 5px;
  border-bottom: 2px dotted #00000050;
  flex-grow: 1;
}

ul.leaders {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plus::after {
  content: "+";
  position: absolute;
}
.dollar::before {
  content: "$ ";
}

ul.leaders li {
  transition: all 0.2s ease-in-out;
}

ul.leaders li:hover {
  cursor: pointer;
  /* font-weight: bold; */
  background-color: silver;
  transition: all 0.2s ease-in-out;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

section[id="services"] {
  /* margin: 0; */
  padding-top: 50px;
  padding-bottom: 50px;
}

.grow {
  transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}
.grow:hover {
  transform: scale(1.05);
  z-index: 9999;
}

#reviews {
  overflow-x: hidden;
}

.photos {
  padding: 15px;
  border: 1px solid #c8c8c8;
  background-color: #fff;
  color: #000;
  max-width: 100%;

  /* float: left; */
}

.about-desc {
  padding: 15px;
  text-align: justify;
  /* border: 1px solid #c8c8c8;
  background-color: #ffffffd9;
  color: #000; */
}

#photoDisplay {
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-sizing: unset; */
  /* align-items: center;
  justify-items: center; */
  /* overflow: hidden; */
  /* margin-left: 50px; */
  /* margin-top: 50px; */
}
#stacked-photo-1 {
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg); /* IE 9 */
  -moz-transform: rotate(-10deg); /* Firefox */
  -webkit-transform: rotate(-10deg); /* Safari and Chrome */
  -o-transform: rotate(-10deg); /* Opera */
  position: absolute;
  /* position: absolute; */
}

#stacked-photo-2 {
  transform: rotate(10deg);
  -ms-transform: rotate(10deg); /* IE 9 */
  -moz-transform: rotate(10deg); /* Firefox */
  -webkit-transform: rotate(10deg); /* Safari and Chrome */
  -o-transform: rotate(10deg); /* Opera */
  position: absolute;
  top: 0px;
  /* left: 100px; */
  /* margin-left: -100px; */
}

#stacked-photo-3 {
  transform: rotate(5deg);
  -ms-transform: rotate(5deg); /* IE 9 */
  -moz-transform: rotate(5deg); /* Firefox */
  -webkit-transform: rotate(5deg); /* Safari and Chrome */
  -o-transform: rotate(5deg); /* Opera */
  /* top: -25px; */

  /* margin-top: 20px; */
  /* position: absolute; */
}

.services > ul li {
  /* display: none; */
}
.more {
  /* color: green; */
  cursor: pointer;
}
.more:hover {
  color: black;
}
.less {
  display: none;
  /* color: red; */
  cursor: pointer;
}
.less:hover {
  color: black;
}

.footer-social-links li {
  padding-top: 20px;
}
